.banner {
  background: #F2C052;
  border-bottom: 1px solid #423413;
  margin-bottom: 10px;
  height: 60px;
  padding: 0 10px 0 10px; }
  @media (max-width: 768px) {
    .banner {
      margin-bottom: 0; } }
  .banner .logo img {
    float: left;
    height: 60px; }
  .banner .logo .title {
    color: #423413;
    display: inline;
    float: left;
    font-size: 25px;
    padding: 15px 10px;
    line-height: 0;
    vertical-align: middle; }
    @media (max-width: 320px) {
      .banner .logo .title {
        font-size: 18px;
        padding: 20px 10px; } }
  .banner ul.actions {
    float: right;
    list-style-type: none; }
    @media (max-width: 768px) {
      .banner ul.actions {
        display: none; } }
    .banner ul.actions li {
      display: inline;
      padding-left: 10px; }
    .banner ul.actions a, .banner ul.actions button {
      text-decoration: none;
      text-transform: uppercase; }
      .banner ul.actions a:hover, .banner ul.actions button:hover {
        text-decoration: underline; }
  .banner:after {
    clear: both;
    content: '';
    display: block; }
