@import './common.sass'
@import './tables.sass'

.admin-movie
  form
    margin: 10px auto

    input
      display: inline

      &.title
        margin-right: 10px

        width: 250px

        @media (max-width: $break-small)
          width: 212px

      &.year
        margin-right: 10px

        width: 108px

        @media (max-width: $break-small)
          width: 212px
