.admin-movie form {
  margin: 10px auto; }
  .admin-movie form input {
    display: inline; }
    .admin-movie form input.title {
      margin-right: 10px;
      width: 250px; }
      @media (max-width: 400px) {
        .admin-movie form input.title {
          width: 212px; } }
    .admin-movie form input.year {
      margin-right: 10px;
      width: 108px; }
      @media (max-width: 400px) {
        .admin-movie form input.year {
          width: 212px; } }

.admin-movie ul {
  list-style-type: none;
  padding: 0; }
  .admin-movie ul li {
    padding: 10px; }
    .admin-movie ul li.alt {
      background: #F2DAA5; }
  .admin-movie ul a {
    text-decoration: none;
    padding-right: 20px;
    text-transform: uppercase;
    float: right; }
