.main {
  min-height: calc(100vh - 60px - 50px - 10px);
  margin: 20px auto 0 auto;
  max-width: 760px; }
  @media (max-width: 768px) {
    .main {
      max-width: 100%; } }
  .main .container {
    border-radius: 2px;
    border: solid 1px #423413; }
    @media (max-width: 768px) {
      .main .container {
        border: 0; } }
    .main .container .container-title {
      border-bottom: solid 1px #423413;
      background: #F2DAA5;
      margin-top: 0;
      padding: 5px; }
    .main .container .content {
      padding: 10px; }

.clickable {
  cursor: pointer; }

.banner ul.actions {
  margin-top: 20px;
  margin-right: 20px; }
