.avatar {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background: url(../images/avatars.jpg); }
  .avatar.a-01 {
    background-position: -55px -42px; }
  .avatar.a-02 {
    background-position: -235px -42px; }
  .avatar.a-03 {
    background-position: -414px -42px; }
  .avatar.a-04 {
    background-position: -594px -42px; }
  .avatar.a-05 {
    background-position: -55px -208px; }
  .avatar.a-06 {
    background-position: -235px -208px; }
  .avatar.a-07 {
    background-position: -414px -208px; }
  .avatar.a-08 {
    background-position: -594px -208px; }
  .avatar.a-09 {
    background-position: -55px -372px; }
  .avatar.a-10 {
    background-position: -235px -372px; }
  .avatar.a-11 {
    background-position: -414px -372px; }
  .avatar.a-12 {
    background-position: -594px -372px; }
  .avatar.a-13 {
    background-position: -55px -538px; }
  .avatar.a-14 {
    background-position: -235px -538px; }
  .avatar.a-15 {
    background-position: -414px -538px; }
  .avatar.a-16 {
    background-position: -594px -538px; }
  .avatar.small {
    width: 37px;
    height: 37px;
    background-size: 200px 200px; }
    .avatar.small.a-01 {
      background-position: -14px -11px; }
    .avatar.small.a-02 {
      background-position: -259px -11px; }
    .avatar.small.a-03 {
      background-position: -504px -11px; }
    .avatar.small.a-04 {
      background-position: -748px -11px; }
    .avatar.small.a-05 {
      background-position: -14px -252px; }
    .avatar.small.a-06 {
      background-position: -259px -252px; }
    .avatar.small.a-07 {
      background-position: -504px -252px; }
    .avatar.small.a-08 {
      background-position: -748px -252px; }
    .avatar.small.a-09 {
      background-position: -14px -293px; }
    .avatar.small.a-10 {
      background-position: -259px -293px; }
    .avatar.small.a-11 {
      background-position: -504px -293px; }
    .avatar.small.a-12 {
      background-position: -748px -293px; }
    .avatar.small.a-13 {
      background-position: -14px -334px; }
    .avatar.small.a-14 {
      background-position: -259px -334px; }
    .avatar.small.a-15 {
      background-position: -504px -334px; }
    .avatar.small.a-16 {
      background-position: -748px -334px; }
