$black: #000
$dark-brown: #423413
$bright-orange: #F2C052
$light-orange: #F2DAA5
$light-grey: #CCC
$table-alt: #F2DAA5
$white: #fff

$disabled-foreground-color: #888
$disabled-background-color: #ddd

$red: red
$green: green

$break-small: 400px
$break-medium: 768px
$break-large: 1200px
