$bright-orange: #F2C052
$dark-brown: #423413

.dd-wrapper
  float: right
  margin: 15px
  .dd-header
    font-size: 20pt
    .dd-header-title
      display: inline
      font-size: 12pt
      margin-right: 10px
  .dd-list
    list-style-type: none
    padding-left: 0
  .dd-list-item
    padding-left: 10px
