$bright-orange: #F2C052

input
  &[type=submit],
  &[type=button]
    float: right
    margin: 10px 10px 10px 0
    min-width: 150px
    font-size: 16px
    background: $bright-orange
    text-transform: uppercase
