button, input[type=submit] {
  min-width: 150px;
  font-size: 16px;
  background: #F2C052;
  text-transform: uppercase;
  margin-left: 10px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 2px;
  border: solid 1px #423413;
  padding: 10px; }
  button:disabled, input[type=submit]:disabled {
    background: #ddd;
    color: #888;
    border-color: #888; }

select {
  margin: 10px 10px 10px 0;
  text-transform: uppercase;
  min-width: 150px;
  font-size: 16px;
  border-radius: 2px;
  border: solid 1px #423413;
  padding: 10px; }

.button-bar {
  float: right; }
