input[type=submit], input[type=button] {
  float: right;
  margin: 10px 10px 10px 0;
  min-width: 150px;
  font-size: 16px;
  background: #F2C052;
  text-transform: uppercase; }

button {
  float: right;
  margin: 10px 10px 10px 0;
  text-transform: uppercase;
  min-width: 150px;
  font-size: 16px;
  border-radius: 2px;
  border: solid 1px #423413;
  padding: 10px; }

select {
  margin: 10px 10px 10px 0;
  text-transform: uppercase;
  min-width: 150px;
  font-size: 16px;
  border-radius: 2px;
  border: solid 1px #423413;
  padding: 10px; }
