.login form:after {
  clear: both;
  content: '';
  display: block; }

.login form input {
  display: block; }
  .login form input[type=submit], .login form input[type=button] {
    float: right;
    min-width: 150px; }
