.register form:after {
  clear: both;
  content: '';
  display: block; }

.register form input {
  display: block; }
  .register form input[type=submit], .register form input[type=button] {
    float: right;
    min-width: 150px; }
