@import './common.sass'

.secondary-navigation
  background: $light-orange

  ul
    list-style-type: none
    padding: 0

    li
      padding: 10px
      display: inline

      &.alt
        background: $table-alt

      a
        text-decoration: none
        padding-right: 20px
        text-transform: uppercase
