@import './common.sass'

.secondary-navigation
  ul
    list-style-type: none
    padding: 0

    li
      padding: 10px

      &.alt
        background: $table-alt

      a
        text-decoration: none
        padding-right: 20px
        text-transform: uppercase
        float: right
