table {
  width: 100%;
  border: 0;
  border-spacing: 0; }
  table thead {
    background: #fff; }
    table thead td {
      border-bottom: solid 1px #000;
      text-align: left;
      padding: 5px;
      font-weight: 600; }
  table td {
    padding: 5px; }
  table tr {
    background: #fff; }
    table tr button {
      background: #fff; }
    table tr.alt {
      background: #F2DAA5; }
      table tr.alt button {
        background: #F2DAA5; }
  table button {
    clear: both;
    margin: 0;
    text-transform: none;
    min-width: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 5px;
    background: #fff;
    border: 0; }
    table button:disabled {
      background: #CCC; }
