$banner-height: 80px

.banner
  border-bottom: 1px solid black
  height: $banner-height

.banner img
  display: inline-block
  height: $banner-height

.banner h1
  display: inline-block
  vertical-align: middle
  height: $banner-height

#root
  clear: both

